@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Quicksand', sans-serif;
    
}
body{
    background: #000000;
    color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .thongbao{
    height: 50px;
    background-color: #000000;
    line-height: 50px;
    text-align: center;
    color: white;
  }
  
  .menu-logo{
    position: relative;
    height: 73px;
    background:#ededed;
  }
  
  .menu-logo .logo{
    position: absolute;
    top: 10px;
    left: 70px;
  }
  
  .menu-logo > nav{
    position: absolute;
    top: 3px;
    right: 510px;
  }
  
  .menu > li{
    list-style: none;
    float: left;
    position: relative;
  }
  .menu > li > a{
    text-decoration: none;
    color: #000000;
    padding: 15px;
    line-height: 70px;
    font-weight: bold;
    margin: 0 20px;
  }
  .menu > li > a:hover{
    color: #DA1212;
    transition: all .5s linear;
    
  }
  .menu-logo .login {
    position: absolute;
    font-size: 50px;
    right: 70px;
    top: 10px;
    
  }
  .menu-logo .login a{
    color: #000000;
  }
  .menu-logo .login a:hover{
    color: #DA1212;
    transition: all .5s linear;
  }
  .them{
    background-color: #ededed;
    width: 200px;
    min-height:150px ;
    display: none;
    position: absolute;
  }
  .them li{
    list-style: none;
  }
  .them li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #000000;
    line-height: 50px;
    text-indent: 10px;
  }
  .menu > li:hover .them{
    display: block;
  }
  .them li a:hover{
    transition: all .5s linear;
    
    color: #DA1212;
  }

.boxcenter{
    width: 100%;
}
.hightlight{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3475ca;
}
.hightlight img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.25;
    object-fit: cover;
}
.hightlight .content{
    position: relative;
    text-align: center;
    max-width: 750px;
}
.hightlight .content h3{
    font-size: 60px;

}

.noidung{
    position: relative;
    width: 100%;
    display: flex;
    height: 80vh;
}
.noidung .content{
    background: #162c3b ;
    padding: 100px;
    width: 30%;
}
.noidung .content h3{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.noidung .content ul li{
   list-style: none; margin-bottom: 10px;
}
.noidung .content ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    
}
.noidung .content ul li a:hover{
    color: #DA1212;
    transition: all .5s linear;
}
.noidung .video{
    width: 70%;
    background-color: #DA1212 ;
}

.containerr {
    position: relative;
    width: 80%;
    margin: 0 auto;

    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 9%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
    border: none;
  }


  /* footer */
.container{
    max-width: 1170px;
    
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  
  .footer{
    background-color: #ededed;
    padding: 70px 0;
    color: #000;
  
  }
  .footer-col{
  width: 33%;
  padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: capitalize;
  }
  footer .footer-col a{
    color: #000;
    text-decoration: none;
  }
  footer .footer-coll a{
    font-size: 50px;
    color: #000;
  }
  .tacgia{
    text-align: center;
    padding: 10px;
    background-color: #000000;
  }




